<li id="hobby">
  <%= link_to food_posts_path do %>
    <i class="fa fa-child" aria-hidden="true"></i> Find someone to eat with
  <% end %>
</li>

<li id="study">
  <%= link_to hobby_posts_path do %>
    <i class="fa fa-users" aria-hidden="true"></i> Find someone who shares your hobbies
  <% end %>
</li>